doctype html
html
  head
    link(rel="shortcut icon" href="./assets/favicon.png")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Medical Data eXchange (MedX) Platform

  body
    #v-app
    a#cert-generator(href="http://localhost/certificate-generator.zip") Download Certificate Generator.
    script(src="app.js")
